{% macro filter(categories) %}
<div class="card filter">
    <div class="card-body d-flex flex-row">
        <div class="ms-3">
            <form action="/ftrtype" method="POST">
                <label for="category">Categoria:</label>
                <select name="category" id="category" >
                    <option value="all">Todas las categorias</option>
                    {% for category in categories %}
                        <option value="{{category}}">{{category}}</option>
                    {% endfor %}
                </select>
                <button id="btn-filter" type="submit" class="btn btn-outline-primary">Aplicar filtros</button>
            </form>
        </div>
    </div>
</div>
{% endmacro %}
